<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Painel Administrativo</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

  <div class="header">
    <a href="home.ejs">
      <img src="/images/logoFatec.png" alt="Logo Fatec" style="height: 40px;">
    </a>
  
    <div class="header-buttons">
      <a href="/add-registro" class="btn-header">Adicionar novo registro</a>
      <a href="/logout" class="btn-header logout">Sair</a>
    </div>
  </div>
  
  <div class="sub-header">
    Faculdade de Tecnologia José Crespo Gonzales
  </div>

  
</body>
</html>
