body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.header {
  background-color: #990000;
  padding: 15px 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.btn-header {
  background-color: white;
  color: #990000;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
}

.sub-header {
  background-color: #666;
  color: white;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 60px;
  box-sizing: border-box;
}

.login-container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: auto;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button {
  padding: 7px 16px;
  background-color: #990000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.error {
  color: red;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  @media (max-width: 600px) {
    .header {
      padding: 15px 20px;
      flex-direction: row; 
      align-items: center;
      justify-content: space-between; 
    }
  
    .header-buttons {
      gap: 10px;
    }
  
    .header-buttons .btn-header {
      color: transparent;
      font-size: 0;
      width: 36px;
      height: 36px;
      padding: 0;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
    }
  
    .btn-header:nth-child(1) {
      background-image: url('/images/icon_add.png');
    }
  
    .btn-header.logout {
      background-image: url('/images/icon_sair.png');
    }
  }
  

  .header a {
    margin-left: 0;
  }

  .sub-header {
    padding-left: 20px;
    font-size: 12px;
    text-align: center;
  }

  .login-container {
    margin-top: 120px;
    padding: 20px;
    width: 75%;
    max-width: none;
  }

  input,
  button {
    font-size: 16px;
  }

  .button-wrapper {
    justify-content: flex-end;
  }
}

.add-registro-container {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 14px; 
}

.add-registro-container h2 {
  text-align: center;
  color: #990000;
  margin-bottom: 20px;
}

.add-registro-container label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

.add-registro-radio-group {
  display: flex;
  gap: 20px;
  margin-top: 8px;
  align-items: left;
}

.add-registro-radio-group label {
  display: flex;
  align-items: left;
  gap: 5px;
  margin: 0;
  font-weight: normal;
  white-space: nowrap;
}



.add-registro-container input[type="text"],
.add-registro-container input[type="file"],
.add-registro-container select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.add-registro-radio-group label {
  margin-right: 20px;
}

.add-registro-input-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-registro-input-group input {
  flex: 1;
  height: 35px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: normal;
  margin: 0;
  border: 1px solid #ccc;
}



.add-registro-btn-add,
.remove-item {
  height: 35px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0;             /* <-- remove qualquer margem implícita */
  line-height: normal;   /* <-- importante para evitar deslocamentos */
  vertical-align: middle;
  font-size: 14px;       /* <-- igual ao input */
  border: 1px solid #ccc; /* opcional para visual igual */
  margin-top: 6px;
}

.add-registro-btn-add{
  background-color: #004d00;
}

.remove-item{
  background-color: #a80000;
}

.add-registro-btn-add:hover{
  background-color: #003900; 
}

.remove-item:hover {
  background-color: rgb(100, 0, 0)000;
}

.add-registro-btn-add:focus,
.remove-item:focus {
  outline: none;
}


.add-registro-item {
  background-color: #eee;
  padding: 6px 10px;
  margin-top: 6px;
  border-radius: 5px;
  display: inline-block;
}

.add-registro-form-buttons {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
  margin-top: 30px;
}

.add-registro-form-buttons button {
  width: 120px; 
  height: 40px;
  font-weight: bold;
}

.btn-cancelar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  background-color: #990000;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}


.add-registro-linha {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.add-registro-campo {
  flex: 1;
}

.add-registro-campo select {
  width: 100%;
}

.campo-duplo {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

.campo-item {
  flex: 1; 
}

.campo-item label {
  display: block; 
  margin-bottom: 5px; 
}

.aluno-item,
.orientador-item {
  margin-bottom: 15px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.aluno-item span,
.orientador-item span {
  margin-right: 10px; 
}



.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 80vh;
}


.search-container label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0px; 
}

.sub-text {
  font-size: 14px;
  color: #777;
  opacity: 0.8; 
  margin-bottom: 20px; 
}


.search-bar {
  position: relative;
  width: 650px;
}

.search-bar input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
}

.search-bar .search-icon {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 25px; 
  height: auto;
}

.search-bar .search-icon img {
  width: 100%; 
  height: auto;
}

.search-bar .search-icon:hover {
  color: #000;
}

.search-container.top {
  margin-top: 30px;
  height: auto;
  align-items: flex-start;
  transition: all 0.4s ease;
}

.search-container.top label,
.search-container.top .sub-text {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


@media (max-width: 480px) {
  .search-container {
    width: 95%; 
    height: 70vh; 
    display: flex; 
    justify-content: center; 
    padding: 15px; 
    box-sizing: border-box; 
  }

  .search-container label {
    font-size: 14px; 
    margin-bottom: 0px; 
    text-align: center; 
  }

  .sub-text {
    font-size: 12px; 
    margin-bottom: 10px; 
    text-align: center; 
  }

  .search-bar {
    padding: 10px 0; 
    width: 100%;        /* Garante que ocupe o espaço permitido */
    max-width: 90%; 
  }

  .search-bar input {
    font-size: 14px; 
    padding: 8px; 
    border-radius: 15px; 
    border: 1px solid #ccc; 
  }

  .search-bar .search-icon {
    width: 20px; 
    height: auto; 
    right: 10px;
  }

  .search-container.top {
    align-items: center; /* Corrige o desalinhamento horizontal */
  }
}

.card-result {
  margin-top: 15px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  width: 700px;              /* largura fixa */
  max-width: none;           /* remove o limite de largura */
  padding: 24px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.titulo {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.ano-semestre {
  font-size: 0.9rem;
  color: #555;
}

.card-body-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;
}

.card-texts p {
  margin: 4px 0;
  font-size: 0.95rem;
}

.card-buttons {
  display: flex;
  gap: 10px;
}

.card-buttons a,
.card-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: transform 0.2s;
}

.card-buttons a:hover,
.card-buttons button:hover {
  transform: scale(1.1);
}

.mensagem-resultado {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: left;
  width: 100%; 
  max-width: 1025px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .card-result {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
  }

  .card-header {
    align-items: flex-start;
    gap: 4px;
  }

  .card-body-footer {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  .card-buttons {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .card-buttons a,
  .card-buttons button {
    font-size: 1rem;
  }
}

.linha-mensagem {
  display: flex;
  justify-content: space-between; /* alinha os dois elementos nas extremidades */
  align-items: center;            /* alinha verticalmente ao centro */
  width: 730px;                   /* mesma largura dos cards */
  max-width: 100%;                /* evita estouro em telas pequenas */
  box-sizing: border-box;
  margin-top: 25px;
}


.mensagem-resultado {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.link-filtrar {
  color: #333;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 600px) {
  .linha-mensagem {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .link-filtrar {
    display: block;
    text-align: center;
    width: 100%; /* ocupa toda a largura para centralizar melhor */
    margin-top: 0px; /* espaço abaixo do texto */
    font-size: 14px;
  }

  .mensagem-resultado {
    font-size: 14px;
    text-align: center; /* opcional */
  }
}


/* Filtro */
.filtro-container {
  display: none;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  max-width: 1055px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
  border-radius: 6px;
}

.filtro-container form label {
  display: block;
  margin-bottom: 10px;
}

.modal-filtro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease forwards;
}

.modal-filtro-conteudo {
 background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.modal-filtro-conteudo h3 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #990000;
  text-align: start;
}

.modal-filtro-conteudo form label {
  display: block;
  margin: 10px 0;
}

.modal-filtro-conteudo label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

.modal-filtro-conteudo select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Agrupamento de campos lado a lado */
.campo-duplo {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.campo-item {
  flex: 1;
}



.botoes-modal {
  display: flex;
  justify-content:end;
  margin-top: 15px;
  gap: 10px;
}

.botoes-modal button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #990000;
}

.botoes-modal button:hover{
  background-color: #5d0101;
}

.limpar-container {
  text-align: right;
  margin-top: 12px; /* espaçamento do container em relação ao item acima */
}

.btn-limpar {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

/* Animações */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}







@media (max-width: 600px) {
  .add-registro-container {
    width: 90%;
    padding: 15px;
    font-size: 14px;
  }

  .add-registro-radio-group {
    flex-direction: column;
    gap: 2px;
    align-items: self-start;
  }

  .add-registro-linha {
    flex-direction: column;
    gap: 5px;
  }

  .add-registro-input-group {
  display: flex;
  align-items: center;
  gap: 8px;

  }

  .add-registro-form-buttons {
    align-items: stretch;
  }

  .add-registro-form-buttons button,
  .btn-cancelar {
    width: 35%;
  }

  .add-registro-btn-add,
  .remove-item {
    width: 10%;
    font-size: 16px;
  }

  .add-registro-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .btn-header.back {
      background-image: url('/images/icon_voltar.png');
    }
}
